.main-layout {
    margin: 0;
    overflow-x: hidden;
}

.info-open .main-content {
    transform: translateX(400px);
}

.main-content {
    transition: transform .65s ease;
    display: flex;
}

@media screen and (max-width: 500px){
    .info-open .main-content {
        transform: translateX(250px);
    }
}
