.modal-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
}

.modal-backdrop {
    height: 100vh;
    width: 100vw;
    background-color: rgb(51, 54, 72, 80%);
    position: relative;
}

.modal {
    position: absolute;
    align-self: center;
    top: 25%;
    display: flex;
    flex-direction: column;
    background: #606483;
    color: #fff9b2;
    width: 350px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 9px 31px rgb(0 0 0 / 5%);
}

.modal-header {
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px 20px 0 20px;
}

.modal-inner {
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.modal-inner.edit {
    gap: 0;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

@media screen and (max-width: 500px){
    .modal {
        width: 270px;
    }
}

