.header {
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: darkcyan;
    color: white;
    height: 50px;
    padding: 0 10px;
}
.tablet-and-mobile-button, .desktop-buttons {
    width: 50%;
    gap: 20px;
}

.tablet-and-mobile-button {
    display: none;
}

.tablet-and-mobile-button > button {
    padding: 8px;
    transform: rotate(90deg);
    margin-left: 10px;
}
.desktop-buttons {
    display: flex;
}

.side-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: darkcyan;
    border-top: 1px solid #EDEDED;
    box-shadow: 2px 0 3px #ededed;
    z-index: 1;
    height: 100%;
    padding: 10px;
    gap: 10px;

    -webkit-transition : all 0.5s;
    transition : all 0.5s;
}

@media screen and (max-width: 800px) and (min-width: 351px){
    .desktop-buttons {
        display: none;
    }
    .tablet-and-mobile-button {
        display: flex;
    }
    .side-menu {
        top: 50px;
        display: flex;

        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .side-menu.opened {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@media screen and (max-width: 350px){
    .desktop-buttons {
        display: none;
    }
    .tablet-and-mobile-button {
        display: flex;
    }
    .side-menu {
        display: flex;
        bottom: 0;
        height: fit-content;
        width: 100%;
        border-radius: 8px;
        border-top: none;

        -webkit-transition : all 0.5s;
        transition : all 0.5s;

        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .side-menu.opened {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}
